<link rel="stylesheet" href="../static/css/carousel.css">

<div id="carouselExample" class="carousel carousel-dark slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="4" aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="5" aria-label="Slide 6"></button>
      </div>
    <div class="carousel-inner">
      <div class="carousel-item c-item active">
        <img src="../static/images/carousel/feature-1.jpg" class="c-img d-block w-100" alt="feature-1">
        <div class="carousel-caption top-0 mt-4 d-none d-md-block">
        <h1  style="color:white"class="mt-6 display-1 fw-bolder text-capitalize">Real-Time Monitoring</h1>
        <p  style="color:white"class="mt-5 fs-3">Utilize IoT sensors and smart meters to provide real-time data on energy consumption and carbon emissions from various hardware devices and facilities.</p>
      </div>
      </div>
      <div class="carousel-item c-item">
        <img src="../static/images/carousel/feature-2.jpg" class="c-img d-block w-100" alt="feature-2">
        <div class="carousel-caption top-0 mt-4 d-none d-md-block">
        <h1  style="color:white"class="mt-6 display-1 fw-bolder text-capitalize">Software Usage Analytics</h1>
        <p  style="color:white"class="mt-5 fs-3">Track and analyze the carbon footprint associated with software operations, particularly in energy-intensive applications and cloud services.</p>
      </div>
      </div>
      <div class="carousel-item c-item">
        <img src="../static/images/carousel/feature-3.jpg" class="c-img d-block w-100" alt="feature-3">
        <div class="carousel-caption top-0 mt-4 d-none d-md-block">
        <h1  style="color:white"class="mt-6 display-1 fw-bolder text-capitalize">Comprehensive Reporting</h1>
        <p  style="color:white"class="mt-5 fs-3">Generate detailed reports and visualizations on energy usage and emissions, helping businesses understand their carbon footprint and identify areas for improvement.</p>
      </div>
      </div>
      <div class="carousel-item c-item">
        <img src="../static/images/carousel/feature-4.jpg" class="c-img d-block w-100" alt="feature-4">
        <div class="carousel-caption top-0 mt-4 d-none d-md-block">
        <h1 style="color:white"class="mt-6 display-1 fw-bolder text-capitalize">Optimization Recommendations</h1>
        <p style="color:white"class="mt-5 fs-3">Provide actionable insights and optimization strategies based on data analysis to reduce energy consumption and emissions.</p>
      </div>
      </div>
      <div class="carousel-item c-item">
        <img src="../static/images/carousel/feature-5.jpg" class="c-img d-block w-100" alt="feature-5">
        <div class="carousel-caption top-0 mt-4 d-none d-md-block">
        <h1  style="color:white"class="mt-6 display-1 fw-bolder text-capitalize">Carbon Offset Integration</h1>
        <p  style="color:white"class="mt-5 fs-3">Offer a marketplace for purchasing carbon offsets to help users achieve carbon neutrality by supporting renewable energy projects and other environmental initiatives.</p>
      </div>
      </div>
      <div class="carousel-item c-item">
        <img src="../static/images/carousel/feature-6.jpg" class="c-img d-block w-100" alt="feature-6">
        <div class="carousel-caption top-0 mt-4 d-none d-md-block">
        <h1 class="mt-6 display-1 fw-bolder text-capitalize" style="color:white">Sustainable Practices Guide</h1>
        <p  style="color:white"class="mt-5 fs-3">Educate users with best practices and interactive tools to adopt more sustainable behaviors and reduce their overall carbon footprint.</p>
      </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>